body{
    display: flex;
    justify-content: center;
    background-color: #071030;
    font-family: Arial;
}
#card{
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all .9s;
}
.face{
    width: 175vh;
    height: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 10vh;
}
.btn{
    font-size: 30px;
    line-height: 60px;
    width: 50%;
    border: solid 1px white;
    border-radius: 50px;
    text-align: center;
    color: white;
    left: 241px;
    display: block;
    margin: auto;
    background-color: transparent;
}
.butn{
    font-size: 2.5vw;
    height: 4vw;
    border-radius: 50px;
    text-align: center;
    left: 241px;
    display: block;
    margin: auto;
}
.butn-log{
    background-color: #F5A521;
    border: solid 1px #F5A521;
    color: #f2f2f2;
    width: 50%;
}
.butn-sing{
    background-color: #2652FF;
    border: solid 1px #2652FF;
    color: #f2f2f2;
    width: 70%;
}
#msg-log{
    background-color: #2652FF;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10vh 0 0 10vh;
}
#form-log{
    background-color: #f2f2f2;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 10vh 10vh 0;
}
#login-form{
    display: flex;
    justify-content: center;
}
#singin-form{
    display: flex;
    justify-content: center;
}
#login{
    background: palevioletred;
    transform: rotateY(180deg);
}
.btn-log:hover{
    background-color: #f2f2f2;
    color: #2652FF;
}
.ttl{
    font-size: 6vh;
}
.txt{
    width: 90%;
    font-weight: 400;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
}
.input{
    width: 50vh;
    height: 2vw;
    border-radius: 50vh;
    padding-left: 1vw;
}
.input-log{
    border: #F5A521 solid 0.15rem;
    outline:#F5A521;
}
.input-sing{
    border: #2652FF solid 0.15rem;
}
.text-log{
    text-align: center;
    color: #F5A521;
}
.text-log h1{
    margin-block-start: 0;
    margin-block-end: 1.5vh;
}
.text-sing{
    text-align: center;
    color: #2652FF;
}
.text-sing h1{
    margin-block-start: 0;
    margin-block-end: 1.5vh;
}
.txt h1{
    margin-block-end: 0;
    margin-block-start: 8vw;
}
p{
    margin-block-start: 0;
    margin-block-end: 1vw;
}
.msg{
    font-size: 27px;
}
#singin{
    background: paleturquoise;
    backface-visibility: hidden;
}
#form-sing{
    background: #f2f2f2;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10vh 0 0 10vh;
}
#msg-sing{
    background: #F5A521;
    width: 50%;
    height: 100%;
    border-radius: 0 10vh 10vh 0;
}
.btn-sing:hover{
    background: #f2f2f2;
    color: #F5A521;
}
.flip{
  transform: rotateY(180deg);
}